* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #aaa;
}

.row {
  content: "";
  display: table;
  clear: both;
}
